* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}
:root {
  --Grayish_blue: hsl(237, 18%, 59%);
  --Soft_red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark_desaturated_blue: hsl(236, 21%, 26%);
  --Very_dark_blue: hsl(235, 16%, 14%);
  --Very_dark_mostly_blue: hsl(234, 17%, 12%);
}
body {
  background: url("images/pattern-hills.svg"),
    linear-gradient(
      hsl(234.5, 15.9%, 13.5%) 0%,
      hsl(275.3, 23.3%, 14.3%) 97%,
      hsl(277.9, 26.8%, 13.9%) 100%
    );

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%, 180%;
  z-index: -20;
}
.wrapper {
  background-image: url("images/bg-stars.svg");

  background-position: center;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  color: var(--White);
  text-transform: uppercase;
  text-align: center;
  width: 80%;
}
.container {
  display: flex;
  margin: 5rem 0;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 80px;
  margin: 0 5px;
  z-index: 0;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.counter:before {
  content: "";
  position: absolute;
  background-color: var(--Dark_desaturated_blue);
  height: 45px;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  opacity: 50%;
}
.counter:after {
  content: "";
  position: absolute;
  background-color: var(--Dark_desaturated_blue);
  height: 45px;
  width: 100%;
  z-index: -1;
  top: 50%;
  left: 0;
  border-radius: 0 0 10px 10px;
}
.counter h1 {
  color: var(--Soft_red);
  font-size: 2.8rem;
}
hr {
  width: 100%;
  position: absolute;
  z-index: 0;
  border: 1px solid var(--Very_dark_mostly_blue);
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  position: relative;
  background-color: var(--Very_dark_mostly_blue);
}
.left {
  left: -0.3em;
  margin-right: auto;
}
.right {
  margin-left: auto;
  right: -0.3em;
}
.time {
  color: var(--Grayish_blue);
  letter-spacing: 0.2rem;
  margin: 20px 0;
  font-size: 0.6rem;
}

.socials i {
  color: var(--Grayish_blue);
  border: none;
  outline: none;
  font-size: 1.8rem;
  margin: 0 15px;
}
.socials i:hover {
  color: var(--Soft_red);
}
@media (min-width: 600px) {
  .heading {
    font-size: 2rem;
  }
  .counter {
    width: 120px;
    height: 100px;
    margin: 0 10px;
  }
  .counter:before,
  .counter:after {
    height: 50px;
  }
  .time {
    font-size: 1rem;
  }
}
@media (min-width: 1160px) {
  .wrapper {
    background-size: contain;
  }
  .heading {
    font-size: 1.5rem;
  }
  .card {
    margin: 0 20px;
  }
  .counter {
    width: 140px;
    height: 140px;
  }
  .counter:before,
  .counter:after {
    height: 70px;
  }
  .counter h1 {
    font-size: 5rem;
  }
}
